<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Todo List</title>
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= today %></h1>
    </div>
    <div class="box">
      <%for(let todo of list) { %>
      <div class="item">
        <input type ="checkbox">
          <p>
            <%= todo %>
          </p>
        </div>
       <% } %>
       <form class="item" action="/" method="post">
         <input type="text" name="addTodo" autocomplete="off" placeholder="Add Todo">
         <button type="submit">+</button>
       </form>
    </div>
  </body>
</html>